.hero-container {
    font-family: "Bodoni Moda", serif;
    font-style: normal;
    margin: 0%;
    padding: 0;
}

.small-animated-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.hero-container h1 {
    font-family: "Bodoni Moda", serif;
    font-style: normal;
    font-size: 40px !important;
    text-align: center;
        /* opacity: 0;
    transform: translateY(20px); thora neeche se aaye */
}

.small-animated-logo img {
    width: 1.2em;
    margin-left: 10px;
}

.Herrt-leaves {
    translate: 1 ease ;
    transform: rotate(90deg);
    position: relative;
    top: 60px;
    right: 90px;
    
}

.heart-leaf1 {
    margin: 0%;
    padding: 0%;
    position: relative;
    right: 0%;
    top: -9px;
    left: 10px;
}

.heart-leaf2 {
    transform: rotate(90deg);
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 0%;
    top: 13px;
    right: 60px;
}
